*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: Calibri;
}

:root{
    --color-rojo: red;
    --color-verde: #27ae60;
    --color-verde-claro: #08ee64;
    --color-verde-oscuro: #0f552c;
    --color-blanco: rgb(239, 239, 239);
    --color-gris-claro: #f9f9f9;
    --font-titulos: "Inter", sans-serif;

    --titulo-h1: 2.6rem;
    --titulo-h2: 1.8rem;
    --titulo-h3: 16rem;
    --parrafo: 14rem;
    --spam: 12rem;
}